### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [109]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [113]:
school_count = len(school_data)
print("Total Schools: " + str(school_count))

total_students = school_data["size"].sum()
print("Total Students: " + str(total_students))

total_budget = school_data["budget"].sum()
print("Total Budget: $" + str(total_budget))

average_math_score = student_data["math_score"].mean()
print("Average Math Score: " + str(round(average_math_score,2)))

average_reading_score = student_data["reading_score"].mean()
print("Average Reading Score: " + str(round(average_reading_score,2)))

passing_math_total = len(student_data[student_data["math_score"] >= 70])
passing_math_percentage = passing_math_total / len(student_data)
print("Passing Math Scores: {0:.0%}".format(passing_math_percentage))

passing_reading_total = len(student_data[student_data["reading_score"] >= 70])
passing_reading_percentage = passing_reading_total / len(student_data)
print("Passing Reading Scores: {0:.0%}".format(passing_reading_percentage))

overall_passing_total = len(student_data[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)])
overall_passing_percentage = overall_passing_total / len(student_data)
print("Passing Overall Scores: {0:.0%}".format(overall_passing_percentage))

overall_passing = student_data[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)]

df = pd.DataFrame(overall_passing)

print("Passing Students:")

"""

    Rename column names: Average Reading Score, Average Math Score, Total Students

"""


print(df)

Total Schools: 15
Total Students: 39170
Total Budget: $24649428
Average Math Score: 78.99
Average Reading Score: 81.88
Passing Math Scores: 75%
Passing Reading Scores: 86%
Passing Overall Scores: 65%
Passing Students:
       Student ID     student_name gender grade         school_name  \
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
9               9   Matthew Greene      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
4                 97          84
5                 94          94
6                 82          80
8                 95          87
9                 96          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[25528 rows x 7 columns]

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [172]:
#print(school_data_complete)
#print(student_data)
#print(school_data)

#School name, type, total students
school_summary = school_data

#Per Student Budget
budget_per_student = school_summary['budget'] / school_summary['size']
school_summary['Budget Per Student'] = budget_per_student

#Average Math and Reading Score
schools_average_scores = school_data_complete.groupby(['school_name']).mean()
#print(schools_average_scores)
school_summary = pd.merge(school_summary, schools_average_scores[['reading_score', 'math_score']], on=['school_name'])
#print(school_summary)

"""

To Do
    Delete columns

"""

#Passing Scores
#Reading
reading_passing_school = school_data_complete[school_data_complete['reading_score'] > 70]
reading_passing_totals = reading_passing_school.groupby(['school_name']).size()
school_summary = pd.merge(school_summary, reading_passing_totals.to_frame(), on=['school_name'])
pass_reading = school_summary[0] / school_summary['size']
school_summary['% Passing Reading'] = pass_reading
school_summary.drop(columns = [0])
#print(school_summary)

math_passing_school = school_data_complete[school_data_complete['math_score'] > 70]
math_passing_totals = math_passing_school.groupby(['school_name']).size()
school_summary = pd.merge(school_summary, math_passing_totals.to_frame(), on=['school_name'])
#print(math_passing_totals)
#print(school_summary)
pass_math = school_summary['0_y'] / school_summary['size']
school_summary['% Passing Math'] = pass_math
school_summary.drop(columns = ['0_y'])
#print(school_summary)

overall_passing_school = school_data_complete[(school_data_complete['reading_score'] > 70) & (school_data_complete['math_score'] > 70)]
overall_passing_totals = overall_passing_school.groupby(['school_name']).size()
school_summary = pd.merge(school_summary, overall_passing_totals.to_frame(), on=['school_name'])
#print(overall_passing_totals)
#print(school_summary)
pass_overall = school_summary[0] / school_summary['size']
school_summary['% Passing Overall'] = pass_overall
#school_summary.drop(columns = ['0'])
print(school_summary)

    School ID            school_name      type  size   budget  \
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

    Budget Per Student  reading_score  math_score   0_x  % Passing Reading  \
0                655.0      81.182722   76.629414  2299           0.788138
1                639.0      81.158020   76.711767  2313           0.784334
2                600.0      83.725724   83.359455  1631           0.926178
3                652.0      80.934412   77.289752  3624           0.781877
4                625.0      83.816757   83.351499  1371           0.933924
5                578.0      83.989488   83.274201  2129           0.932545
6                582.0      83.975780   83.061895  1744           0.938644
7                628.0      81.033963   77.048432  3946           0.793006
8                581.0      83.814988   83.803279   396           0.927400
9                609.0      84.044699   83.839917   887           0.922037
10               583.0      83.955000   83.682222  1682           0.934444
11               637.0      80.744686   76.842711  3109           0.777444
12               650.0      80.966394   77.072464  3727           0.782819
13               644.0      80.746258   77.102592  2123           0.775100
14               638.0      83.848930   83.418349  1519           0.929052

     0_y  % Passing Math     0  % Passing Overall
0   1847        0.633185  1456           0.499143
1   1880        0.637504  1472           0.499152
2   1583        0.898921  1465           0.831914
3   3001        0.647465  2325           0.501618
4   1317        0.897139  1228           0.836512
5   2076        0.909330  1938           0.848883
6   1664        0.895587  1561           0.840151
7   3216        0.646302  2545           0.511455
8    387        0.906323   359           0.840749
9    882        0.916840   816           0.848233
10  1625        0.902778  1520           0.844444
11  2562        0.640660  1977           0.494374
12  3040        0.638521  2371           0.498005
13  1801        0.657539  1405           0.512961
14  1475        0.902141  1378           0.842813

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [179]:
"""To Do
Sort in order"""

top_performers = school_summary.sort_values(by="% Passing Overall")
print(top_performers.tail())

    School ID         school_name     type  size   budget  Budget Per Student  \
8           8  Holden High School  Charter   427   248087               581.0
14         14  Thomas High School  Charter  1635  1043130               638.0
10         10  Wright High School  Charter  1800  1049400               583.0
9           9    Pena High School  Charter   962   585858               609.0
5           5  Wilson High School  Charter  2283  1319574               578.0

    reading_score  math_score   0_x  % Passing Reading   0_y  % Passing Math  \
8       83.814988   83.803279   396           0.927400   387        0.906323
14      83.848930   83.418349  1519           0.929052  1475        0.902141
10      83.955000   83.682222  1682           0.934444  1625        0.902778
9       84.044699   83.839917   887           0.922037   882        0.916840
5       83.989488   83.274201  2129           0.932545  2076        0.909330

       0  % Passing Overall
8    359           0.840749
14  1378           0.842813
10  1520           0.844444
9    816           0.848233
5   1938           0.848883

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [178]:
worst_performers = school_summary.sort_values(by="% Passing Overall")
print(top_performers.head())

    School ID            school_name      type  size   budget  \
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
3           3  Hernandez High School  District  4635  3022020

    Budget Per Student  reading_score  math_score   0_x  % Passing Reading  \
11               637.0      80.744686   76.842711  3109           0.777444
12               650.0      80.966394   77.072464  3727           0.782819
0                655.0      81.182722   76.629414  2299           0.788138
1                639.0      81.158020   76.711767  2313           0.784334
3                652.0      80.934412   77.289752  3624           0.781877

     0_y  % Passing Math     0  % Passing Overall
11  2562        0.640660  1977           0.494374
12  3040        0.638521  2371           0.498005
0   1847        0.633185  1456           0.499143
1   1880        0.637504  1472           0.499152
3   3001        0.647465  2325           0.501618

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [191]:
#print(student_data)
"""To do
Sort Values by grade"""

math_scores_by_grade = student_data[['school_name', 'grade', 'math_score']].groupby(['school_name', 'grade']).mean()
print(math_scores_by_grade)

                             math_score
school_name           grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [192]:
reading_scores_by_grade = student_data[['school_name', 'grade', 'reading_score']].groupby(['school_name', 'grade']).mean()
print(reading_scores_by_grade)

                             reading_score
school_name           grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [197]:
"""To Do
Learn pivot table by category
Pd.cut for "Bin values into discrete intervals."

table = pd.pivot_table(df, values=['D'], index=['Budget Per Student'],
                    columns=['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing'], aggfunc=np.sum)

df['Spending Ranges (Per Student)'] = pd.cut(df['Budget Per Student'], [0,585,630,645,680], labels=['>585','585-630','630-645','645-680'])
df.sort_values(['Spending Ranges (Per Student)','Budget Per Student'], ascending=[True, True], inplace=True)
df.set_index(['Spending Ranges (Per Student)','school_name'],inplace=True)
"""
"""
Implementation with correct column names
scores_by_spending = school_summary

scores_by_spending['bin'] = pd.cut(df['Budget Per Student'], [0,585,630,645,680], labels=['>585','585-630','630-645','645-680'])
table = pd.pivot_table(df, values=['school_name'], index=['Budget Per Student'],
                    columns=['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing'], aggfunc=np.sum)
print(table)"""
scores_by_spending = school_summary

#scores_by_spending['bin'] = pd.cut(scores_by_spending['Budget Per Student'], [0,585,630,645,680], labels=['>585','585-630','630-645','645-680'])
table = pd.pivot_table(scores_by_spending, values=['school_name'], index=['Budget Per Student'],
                    columns=['math_score', 'reading_score', '% Passing Math', '% Passing Reading', '% Passing Overall'])
print(table)

ValueError: Grouper for 'Budget Per Student' not 1-dimensional

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208