### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [109]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [369]:
school_count = len(school_data)
print("Total Schools: " + str(school_count))

total_students = school_data["size"].sum()
print("Total Students: " + str(total_students))

total_budget = school_data["budget"].sum()
print("Total Budget: $" + str(total_budget))

average_math_score = student_data["math_score"].mean()
print("Average Math Score: " + str(round(average_math_score,2)))

average_reading_score = student_data["reading_score"].mean()
print("Average Reading Score: " + str(round(average_reading_score,2)))

passing_math_total = len(student_data[student_data["math_score"] >= 70])
passing_math_percentage = passing_math_total / len(student_data)
print("Passing Math Scores: {0:.0%}".format(passing_math_percentage))

passing_reading_total = len(student_data[student_data["reading_score"] >= 70])
passing_reading_percentage = passing_reading_total / len(student_data)
print("Passing Reading Scores: {0:.0%}".format(passing_reading_percentage))

overall_passing_total = len(student_data[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)])
overall_passing_percentage = overall_passing_total / len(student_data)
print("Passing Overall Scores: {0:.0%}".format(overall_passing_percentage))

overall_passing = student_data[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)]

df = pd.DataFrame(overall_passing)

print("Passing Students:")
display(df)

Total Schools: 15
Total Students: 39170
Total Budget: $24649428
Average Math Score: 78.99
Average Reading Score: 81.88
Passing Math Scores: 75%
Passing Reading Scores: 86%
Passing Overall Scores: 65%
Passing Students:

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [368]:
#School name, type, total students
school_summary = school_data

#Per Student Budget
budget_per_student = school_summary['budget'] / school_summary['size']
school_summary['Budget Per Student'] = budget_per_student

#Average Math and Reading Score
schools_average_scores = school_data_complete.groupby(['school_name']).mean()
school_summary = pd.merge(school_summary, schools_average_scores[['math_score', 'reading_score']], on=['school_name'])
school_summary['math_score'] = round(school_summary['math_score'],2)
school_summary['reading_score'] = round(school_summary['reading_score'],2)

#Passing Scores

#Math
math_passing_school = school_data_complete[school_data_complete['math_score'] > 70]
math_passing_totals = math_passing_school.groupby(['school_name']).size()
school_summary = pd.merge(school_summary, math_passing_totals.to_frame(), on=['school_name'])
pass_math = school_summary[0] / school_summary['size']
school_summary['% Passing Math'] = round(pass_math*100, 2)
school_summary = school_summary.drop(columns = [0])

#Reading
reading_passing_school = school_data_complete[school_data_complete['reading_score'] > 70]
reading_passing_totals = reading_passing_school.groupby(['school_name']).size()
school_summary = pd.merge(school_summary, reading_passing_totals.to_frame(), on=['school_name'])
pass_reading = school_summary[0] / school_summary['size']
school_summary['% Passing Reading'] = round(pass_reading*100, 2)
school_summary = school_summary.drop(columns = [0])

#Overall
overall_passing_school = school_data_complete[(school_data_complete['reading_score'] > 70) & (school_data_complete['math_score'] > 70)]
overall_passing_totals = overall_passing_school.groupby(['school_name']).size()
school_summary = pd.merge(school_summary, overall_passing_totals.to_frame(), on=['school_name'])
pass_overall = school_summary[0] / school_summary['size']
school_summary['% Passing Overall'] = round(pass_overall*100, 2)
school_summary = school_summary.drop(columns = [0])

#Rename Columns
school_summary = school_summary.rename(columns={'reading_score':'Average Reading Score','math_score':'Average Math Score','size':'Total Students'})
display(school_summary)

,School ID,school_name,type,Total Students,budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,0,Huang High School,District,2917,1910635,655.0,76.63,81.18,63.32,78.81,49.91
1,1,Figueroa High School,District,2949,1884411,639.0,76.71,81.16,63.75,78.43,49.92
2,2,Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,89.89,92.62,83.19
3,3,Hernandez High School,District,4635,3022020,652.0,77.29,80.93,64.75,78.19,50.16
4,4,Griffin High School,Charter,1468,917500,625.0,83.35,83.82,89.71,93.39,83.65
5,5,Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,90.93,93.25,84.89
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,89.56,93.86,84.02
7,7,Bailey High School,District,4976,3124928,628.0,77.05,81.03,64.63,79.30,51.15
8,8,Holden High School,Charter,427,248087,581.0,83.80,83.81,90.63,92.74,84.07
9,9,Pena High School,Charter,962,585858,609.0,83.84,84.04,91.68,92.20,84.82
10,10,Wright High School,Charter,1800,1049400,583.0,83.68,83.96,90.28,93.44,84.44
11,11,Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,64.07,77.74,49.44
12,12,Johnson High School,District,4761,3094650,650.0,77.07,80.97,63.85,78.28,49.80
13,13,Ford High School,District,2739,1763916,644.0,77.10,80.75,65.75,77.51,51.30
14,14,Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,90.21,92.91,84.28

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [367]:
top_performers = school_summary.sort_values(by="% Passing Overall", ascending=False)
display(top_performers.head())

,School ID,school_name,type,Total Students,budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
5,5,Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,90.93,93.25,84.89
9,9,Pena High School,Charter,962,585858,609.0,83.84,84.04,91.68,92.20,84.82
10,10,Wright High School,Charter,1800,1049400,583.0,83.68,83.96,90.28,93.44,84.44
14,14,Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,90.21,92.91,84.28
8,8,Holden High School,Charter,427,248087,581.0,83.80,83.81,90.63,92.74,84.07

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [355]:
worst_performers = school_summary.sort_values(by="% Passing Overall", ascending=True)
display(top_performers.tail())

,School ID,school_name,type,Total Students,budget,Budget Per Student,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Overall
3,3,Hernandez High School,District,4635,3022020,652.0,80.93,77.29,78.19,64.75,50.16
1,1,Figueroa High School,District,2949,1884411,639.0,81.16,76.71,78.43,63.75,49.92
0,0,Huang High School,District,2917,1910635,655.0,81.18,76.63,78.81,63.32,49.91
12,12,Johnson High School,District,4761,3094650,650.0,80.97,77.07,78.28,63.85,49.80
11,11,Rodriguez High School,District,3999,2547363,637.0,80.74,76.84,77.74,64.07,49.44

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [363]:
#Sort rows into different series based on grade
grade_data= student_data

#Group series by school
grade_9_scores= grade_data[grade_data['grade'] == "9th"]
grade_10_scores= grade_data[grade_data['grade'] == "10th"]
grade_11_scores= grade_data[grade_data['grade'] == "11th"]
grade_12_scores= grade_data[grade_data['grade'] == "12th"]

#Calculate average math score
average_scores_grade_9 = round(grade_9_scores.groupby(['school_name']).mean()['math_score'], 2)
average_scores_grade_10 = round(grade_10_scores.groupby(['school_name']).mean()['math_score'], 2)
average_scores_grade_11 = round(grade_11_scores.groupby(['school_name']).mean()['math_score'], 2)
average_scores_grade_12 = round(grade_12_scores.groupby(['school_name']).mean()['math_score'], 2)

#Combine scores data into a table
scores_data= { "9th" : average_scores_grade_9, "10th" : average_scores_grade_10, "11th" : average_scores_grade_11, "12th" : average_scores_grade_12}
df = pd.DataFrame(scores_data)
display(df)

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [362]:
#Sort rows into different series based on grade
grade_data= student_data

#Group series by school
grade_9_scores= grade_data[grade_data['grade'] == "9th"]
grade_10_scores= grade_data[grade_data['grade'] == "10th"]
grade_11_scores= grade_data[grade_data['grade'] == "11th"]
grade_12_scores= grade_data[grade_data['grade'] == "12th"]

#Calculate average math score
average_scores_grade_9 = round(grade_9_scores.groupby(['school_name']).mean()['reading_score'], 2)
average_scores_grade_10 = round(grade_10_scores.groupby(['school_name']).mean()['reading_score'], 2)
average_scores_grade_11 = round(grade_11_scores.groupby(['school_name']).mean()['reading_score'], 2)
average_scores_grade_12 = round(grade_12_scores.groupby(['school_name']).mean()['reading_score'], 2)

#Combine scores data into a table
scores_data= { "9th" : average_scores_grade_9, "10th" : average_scores_grade_10, "11th" : average_scores_grade_11, "12th" : average_scores_grade_12}
df = pd.DataFrame(scores_data)
display(df)

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [391]:
"""To Do

Round Scores

"""

scores_by_spending = school_summary
scores_by_spending = scores_by_spending.assign(scores_table = pd.cut(scores_by_spending['Budget Per Student'], [0,585,630,645,680], labels=['>585','585-630','630-645','645-680']))
school_spending_table = pd.pivot_table(scores_by_spending, values=['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Passing Overall'], index="scores_table")
school_spending_table.round(decimals=2)
display(school_spending_table)

,% Passing Math,% Passing Overall,% Passing Reading,Average Math Score,Average Reading Score
scores_table,,,,,
>585,90.350000,84.355000,93.322500,83.452500,83.935000
585-630,83.977500,75.702500,89.377500,81.900000,83.155000
630-645,70.945000,58.735000,81.647500,78.517500,81.625000
645-680,63.973333,49.956667,78.426667,76.996667,81.026667

## Scores by School Size

* Perform the same operations as above, based on school size.

In [392]:
scores_by_size = school_summary
scores_by_size = scores_by_spending.assign(size_table = pd.cut(scores_by_size['Total Students'], [0,1000,2000,5000], labels=['Small (<1000)','Medium (1000-2000)','Large (2000-5000)']))
school_size_table = pd.pivot_table(scores_by_size, values=['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Passing Overall'], index="size_table")
display(school_size_table)

,% Passing Math,% Passing Overall,% Passing Reading,Average Math Score,Average Reading Score
size_table,,,,,
Small (<1000),91.15500,84.44500,92.47000,83.820,83.92500
Medium (1000-2000),89.93000,83.91600,93.24400,83.374,83.86800
Large (2000-5000),67.63125,54.57125,80.18875,77.745,81.34375

## Scores by School Type

* Perform the same operations as above, based on school type

In [360]:
scores_by_type = school_summary
school_type_table = pd.pivot_table(scores_by_type, values=['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Passing Overall'], index="type")
display(school_type_table)

,% Passing Math,% Passing Overall,% Passing Reading,Average Math Score,Average Reading Score
type,,,,,
Charter,90.361250,84.17,93.051250,83.472500,83.897500
District,64.302857,50.24,78.322857,76.955714,80.965714