### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [109]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [113]:
school_count = len(school_data)
print("Total Schools: " + str(school_count))

total_students = school_data["size"].sum()
print("Total Students: " + str(total_students))

total_budget = school_data["budget"].sum()
print("Total Budget: $" + str(total_budget))

average_math_score = student_data["math_score"].mean()
print("Average Math Score: " + str(round(average_math_score,2)))

average_reading_score = student_data["reading_score"].mean()
print("Average Reading Score: " + str(round(average_reading_score,2)))

passing_math_total = len(student_data[student_data["math_score"] >= 70])
passing_math_percentage = passing_math_total / len(student_data)
print("Passing Math Scores: {0:.0%}".format(passing_math_percentage))

passing_reading_total = len(student_data[student_data["reading_score"] >= 70])
passing_reading_percentage = passing_reading_total / len(student_data)
print("Passing Reading Scores: {0:.0%}".format(passing_reading_percentage))

overall_passing_total = len(student_data[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)])
overall_passing_percentage = overall_passing_total / len(student_data)
print("Passing Overall Scores: {0:.0%}".format(overall_passing_percentage))

overall_passing = student_data[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)]

df = pd.DataFrame(overall_passing)

print("Passing Students:")

"""

To Do
    Rename column names: Average Reading Score, Average Math Score, Total Students

"""


print(df)

Total Schools: 15
Total Students: 39170
Total Budget: $24649428
Average Math Score: 78.99
Average Reading Score: 81.88
Passing Math Scores: 75%
Passing Reading Scores: 86%
Passing Overall Scores: 65%
Passing Students:
       Student ID     student_name gender grade         school_name  \
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
9               9   Matthew Greene      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
4                 97          84
5                 94          94
6                 82          80
8                 95          87
9                 96          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[25528 rows x 7 columns]

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [250]:
#print(school_data_complete)
#print(student_data)
#print(school_data)

#School name, type, total students
school_summary = school_data

#Per Student Budget
budget_per_student = school_summary['budget'] / school_summary['size']
school_summary['Budget Per Student'] = budget_per_student

#Average Math and Reading Score
schools_average_scores = school_data_complete.groupby(['school_name']).mean()
#print(schools_average_scores)
school_summary = pd.merge(school_summary, schools_average_scores[['reading_score', 'math_score']], on=['school_name'])
school_summary['reading_score'] = round(school_summary['reading_score'],2)
school_summary['math_score'] = round(school_summary['math_score'],2)

#print(school_summary)

#Passing Scores
#Reading
reading_passing_school = school_data_complete[school_data_complete['reading_score'] > 70]
reading_passing_totals = reading_passing_school.groupby(['school_name']).size()
school_summary = pd.merge(school_summary, reading_passing_totals.to_frame(), on=['school_name'])
pass_reading = school_summary[0] / school_summary['size']
school_summary['% Passing Reading'] = round(pass_reading*100, 2)
school_summary = school_summary.drop(columns = [0])
#print(school_summary)

#Math
math_passing_school = school_data_complete[school_data_complete['math_score'] > 70]
math_passing_totals = math_passing_school.groupby(['school_name']).size()
school_summary = pd.merge(school_summary, math_passing_totals.to_frame(), on=['school_name'])
#print(math_passing_totals)
#print(school_summary)
pass_math = school_summary[0] / school_summary['size']
school_summary['% Passing Math'] = round(pass_math*100, 2)
school_summary = school_summary.drop(columns = [0])
#print(school_summary)

#Overall
overall_passing_school = school_data_complete[(school_data_complete['reading_score'] > 70) & (school_data_complete['math_score'] > 70)]
overall_passing_totals = overall_passing_school.groupby(['school_name']).size()
school_summary = pd.merge(school_summary, overall_passing_totals.to_frame(), on=['school_name'])
#print(overall_passing_totals)
#print(school_summary)
pass_overall = school_summary[0] / school_summary['size']
school_summary['% Passing Overall'] = round(pass_overall*100, 2)
school_summary = school_summary.drop(columns = [0])

school_summary = school_summary.rename(columns={'reading_score':'Average Reading Score','math_score':'Average Math Score'})
print(school_summary)

    School ID            school_name      type  size   budget  \
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

    Budget Per Student  Average Reading Score  Average Math Score  \
0                655.0                  81.18               76.63
1                639.0                  81.16               76.71
2                600.0                  83.73               83.36
3                652.0                  80.93               77.29
4                625.0                  83.82               83.35
5                578.0                  83.99               83.27
6                582.0                  83.98               83.06
7                628.0                  81.03               77.05
8                581.0                  83.81               83.80
9                609.0                  84.04               83.84
10               583.0                  83.96               83.68
11               637.0                  80.74               76.84
12               650.0                  80.97               77.07
13               644.0                  80.75               77.10
14               638.0                  83.85               83.42

    % Passing Reading  % Passing Math  % Passing Overall
0               78.81           63.32              49.91
1               78.43           63.75              49.92
2               92.62           89.89              83.19
3               78.19           64.75              50.16
4               93.39           89.71              83.65
5               93.25           90.93              84.89
6               93.86           89.56              84.02
7               79.30           64.63              51.15
8               92.74           90.63              84.07
9               92.20           91.68              84.82
10              93.44           90.28              84.44
11              77.74           64.07              49.44
12              78.28           63.85              49.80
13              77.51           65.75              51.30
14              92.91           90.21              84.28

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [238]:
top_performers = school_summary.sort_values(by="% Passing Overall", ascending=False)
print(top_performers.head())

    School ID         school_name     type  size   budget  Budget Per Student  \
5           5  Wilson High School  Charter  2283  1319574               578.0
9           9    Pena High School  Charter   962   585858               609.0
10         10  Wright High School  Charter  1800  1049400               583.0
14         14  Thomas High School  Charter  1635  1043130               638.0
8           8  Holden High School  Charter   427   248087               581.0

    reading_score  math_score  % Passing Reading  % Passing Math  \
5       83.989488   83.274201              93.25           90.93
9       84.044699   83.839917              92.20           91.68
10      83.955000   83.682222              93.44           90.28
14      83.848930   83.418349              92.91           90.21
8       83.814988   83.803279              92.74           90.63

    % Passing Overall
5               84.89
9               84.82
10              84.44
14              84.28
8               84.07

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [239]:
worst_performers = school_summary.sort_values(by="% Passing Overall", ascending=False)
print(top_performers.tail())

    School ID            school_name      type  size   budget  \
3           3  Hernandez High School  District  4635  3022020
1           1   Figueroa High School  District  2949  1884411
0           0      Huang High School  District  2917  1910635
12         12    Johnson High School  District  4761  3094650
11         11  Rodriguez High School  District  3999  2547363

    Budget Per Student  reading_score  math_score  % Passing Reading  \
3                652.0      80.934412   77.289752              78.19
1                639.0      81.158020   76.711767              78.43
0                655.0      81.182722   76.629414              78.81
12               650.0      80.966394   77.072464              78.28
11               637.0      80.744686   76.842711              77.74

    % Passing Math  % Passing Overall
3            64.75              50.16
1            63.75              49.92
0            63.32              49.91
12           63.85              49.80
11           64.07              49.44

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [191]:
#print(student_data)
"""

To Do
Sort values by grade

"""

math_scores_by_grade = student_data[['school_name', 'grade', 'math_score']].groupby(['school_name', 'grade']).mean()
print(math_scores_by_grade)

                             math_score
school_name           grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [192]:
reading_scores_by_grade = student_data[['school_name', 'grade', 'reading_score']].groupby(['school_name', 'grade']).mean()
print(reading_scores_by_grade)

                             reading_score
school_name           grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [251]:
"""To Do

Round Scores

"""

scores_by_spending = school_summary
scores_by_spending = scores_by_spending.assign(scores_table = pd.cut(scores_by_spending['Budget Per Student'], [0,585,630,645,680], labels=['>585','585-630','630-645','645-680']))
school_spending_table = pd.pivot_table(scores_by_spending, values=['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Passing Overall'], index="scores_table")
print(school_spending_table)

              % Passing Math  % Passing Overall  % Passing Reading  \
scores_table
>585               90.350000          84.355000          93.322500
585-630            83.977500          75.702500          89.377500
630-645            70.945000          58.735000          81.647500
645-680            63.973333          49.956667          78.426667

              Average Math Score  Average Reading Score
scores_table
>585                   83.452500              83.935000
585-630                81.900000              83.155000
630-645                78.517500              81.625000
645-680                76.996667              81.026667

## Scores by School Size

* Perform the same operations as above, based on school size.

In [252]:
scores_by_size = school_summary
scores_by_size = scores_by_spending.assign(size_table = pd.cut(scores_by_size['size'], [0,1000,2000,5000], labels=['Small (<1000)','Medium (1000-2000)','Large (2000-5000)']))
school_size_table = pd.pivot_table(scores_by_size, values=['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Passing Overall'], index="size_table")
print(school_size_table)

                    % Passing Math  % Passing Overall  % Passing Reading  \
size_table
Small (<1000)             91.15500           84.44500           92.47000
Medium (1000-2000)        89.93000           83.91600           93.24400
Large (2000-5000)         67.63125           54.57125           80.18875

                    Average Math Score  Average Reading Score
size_table
Small (<1000)                   83.820               83.92500
Medium (1000-2000)              83.374               83.86800
Large (2000-5000)               77.745               81.34375

## Scores by School Type

* Perform the same operations as above, based on school type

In [221]:
scores_by_type = school_summary
school_type_table = pd.pivot_table(scores_by_type, values=['math_score', 'reading_score', '% Passing Math', '% Passing Reading', '% Passing Overall'], index="type")
print(school_type_table)

          % Passing Math  % Passing Overall  % Passing Reading  math_score  \
type
Charter         0.903632           0.841712           0.930528   83.473852
District        0.643025           0.502387           0.783246   76.956733

          reading_score
type
Charter       83.896421
District      80.966636